.aside-bar{
    width: 503px;
    height: 316px;
    position: relative;
    left: 175px;
    top: 8px;
}

.div-card-aside{
    width: 503px;
    height: 316px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: var(--color-grey-6);
}

.div-aside{
    display: none;
}

.h2-card{
    color: var(--color-grey-1);
    font-size: var(--title-4);
    padding: 28px 28px;
}

.box-card-vazio{
    color: var(--color-grey-2);
    font-size: var(--text-2);
    padding: 28px 28px;
}

.ul-card-aside{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
}


.card-principal-aside{
    width: 343px;
    height: 160px;
    background-color: var(--color-grey-6);
    border-bottom: solid 1px var(--color-grey-3);
}

.card-mini-box-aside{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 28px 32px;
}

.card-title-aside{
    width: 230px;
    height: 54px;
    color: var(--color-grey-1);
    font-size: var(--text-2);
}

.delete-button{
    width: 45px;
    height: 38px;
    background-image: url(../../assets/img/trash2.png);
    background-repeat: no-repeat;
    background-position: center;
}


.show-card{
    display: flex;
}

.hide-card{
    display: none;
}

@media (max-width: 600px){
    .aside-bar{
        position: sticky;
        max-width: 100%;
        max-height: 100%;
    }
    
    .div-card-aside{
        max-width: 100%;
        height: 367px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        background-color: var(--color-grey-6);
    }
    
    .div-aside{
        display: none;
    }
    
    .h2-card{
        color: var(--color-grey-1);
        font-size: var(--title-4);
        padding: 28px 28px;
    }
    
    .box-card-vazio{
        color: var(--color-grey-2);
        font-size: var(--text-2);
        padding: 28px 28px;
    }
    
    .ul-card-aside{
        max-width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        list-style: none;
    }
    
    
    .card-principal-aside{
        max-width: 100%;
        position: sticky;
        left: 77px;
        height: 160px;
        background-color: var(--color-grey-6);
        border-bottom: solid 1px var(--color-grey-3);
    }
    
    .card-mini-box-aside{
        max-width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 28px 32px;
    }
    
    .card-title{
        max-width: 90%;
        height: 54px;
        color: var(--color-grey-1);
        font-size: var(--text-2);
    }
    
    .delete-button{
        width: 45px;
        height: 38px;
        background-image: url(../../assets/img/trash2.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    
}